Support ignoring whitespace in Base64 encoded strings.

The current `z.base64()` type doesn't allow any whitespace in Base64 encoded strings, however, other tools seem to ignore whitespace, and it's apparently part of the Base64 RFC.

For example in the browser, `\n` characters are ignored by `atob`.

I ran into this because Postgres breaks lines with a `\n` every 76 characters when encoding in base64 for `bytea` columns:
https://www.postgresql.org/docs/current/functions-binarystring.html#ENCODE-FORMAT-BASE64

On their page, they cite [RFC 2045 Section 6.8](https://datatracker.ietf.org/doc/html/rfc2045#section-6.8) for why they do this.

If it's respected by browser JS engines, it seems like it should be respected by Zod. 

The issue has not been resolved, but it's fine, not a serious feature need.