Support coercion for arrays

Currently there is no way to tell Zod "if you get a single value of correct type, just put it into an array". Existing `.coerce()` operation could be used for this.

Here is a reference implementation of this logic: https://github.com/lokalise/zod-extras/blob/main/src/utils/toArrayPreprocessor.ts
Test: https://github.com/lokalise/zod-extras/blob/main/src/utils/toArrayPreprocessor.test.ts

I would take this a step further and allow the "coerce" function to be specified instead of allowing only a default per type. E.g. for arrays, a "coerce" could split an input string by ",".

This feels very specific to me, and doesn't strike me as general-purpose API that would be widely used. Solving this with `.preprocess` is exactly what I'd recommend here. 

@colinhacks Is it? For any webservice that relies on zod for defining request schemas this is a very common case for handling request params, when array value arrives with a single entry

I am using something like this in the meantime if anybody is interested (there is certainly room for improvement):

```typescript
const asArray = <T extends ZodTypeAny>(type: T) => z.any().transform<z.infer<typeof type>[]>((value: any) => Array.isArray(value) ? value.map(el => type.parse(el)) : [type.parse(value)]);
const asSingle = <T extends ZodTypeAny>(type: T) => z.any().transform<z.infer<typeof type>>((value: any) => type.parse(Array.isArray(value) && value.length > 0 ? value[0] : value));

const zMyParams = z.object({
  foo: asArray(z.string()),
  bar: asArray(z.coerce.number()),
  baz: asSingle(z.string()),
  qux: asSingle(z.coerce.number())
});

type MyParams = z.output<typeof zMyParams>;

// gives:
// type MyParams = {
//   foo: string[];
//   bar: number[];
//   baz: string;
//   qux: number;
// }

console.log(zMyParams.parse({
  foo: ['one', 'two'],
  bar: ['1', '2'],
  baz: ['one', 'two'],
  qux: ['1', '2']
}));

// gives:
// {
//  "foo": ["one", "two"],
//  "bar": [1, 2],
//  "baz": "one",
//  "qux": 1
// }

console.log(zMyParams.parse({
  foo: 'one',
  bar: '1',
  baz: 'one',
  qux: '1'
}));

// gives:
// {
//   "foo": ["one"],
//   "bar": [1],
//   "baz": "one",
//   "qux": 1
// }
```

> This feels very specific to me, and doesn't strike me as general-purpose API that would be widely used. Solving this with `.preprocess` is exactly what I'd recommend here.

Tinkering with this earlier, I would agree, and it works as intended, however in some cases types resulted in "any" or "unknown" Which is problematic. An example here might be a good thing.

> This feels very specific to me, and doesn't strike me as general-purpose API that would be widely used. Solving this with `.preprocess` is exactly what I'd recommend here.

It is not clear to me how to enable array validation processing after preprocessing a string like this.

```
export const arrayFromString = <T extends ZodTypeAny>(schema: T) => {
    return z.preprocess((obj: unknown) => {
      if (!obj) {
        return []
      }
      if (Array.isArray(obj)) {
        return obj
      }
      if (typeof obj === 'string') {
        return obj.split(',')
      }

      return []
    }, z.array(schema))
  }
```

```
// Expected array, received string
roleIds: arrayFromString(z.string().min(1, 'required')).array()
    .min(1, 'min 1 items'),
```

```
roleIds = "1,2,3"
roleIds = ""
```

@mschipperheyn perhaps like this: 

```ts
export const arrayFromString = <T extends ZodTypeAny>(schema: T) => {
  return z.preprocess((obj: unknown) => {
    if (!obj) {
      return [];
    }
    if (Array.isArray(obj)) {
      return obj;
    }
    if (typeof obj === 'string') {
      return obj.split(',');
    }

    return [];
  }, z.array(schema));
};

const foo = arrayFromString(
  z.union([z.literal('FOO'), z.literal('BAR')])
).refine((value) => {
  return value.length > 0;
});
```

![image](https://github.com/user-attachments/assets/b20693ab-ceae-4b81-ba2d-b539b6c761a0)



My fix was to do something like this. The commented code was failing validation because zod could not tell that this should've been an array (single URL query parameter). `leaderboardTierFilterValues` is a `string[]`.

![Image](https://github.com/user-attachments/assets/4d864300-24d3-4d45-8362-38b58619e6c9)

unstale

I have a slightly different case: I often receive a string with components separated by commas (see [Swagger serialization docs](https://swagger.io/docs/specification/v3_0/serialization/#path-parameters)), but I need it as an array. Right now, I solve this with a transformation, but it's a pretty common case.

In the latest version of Zod, there's a `Stringbools` type, so perhaps it would make sense to add something like a `Stringarray` or `csv` (comma separated values) type. This would solve both my problem and the original poster’s.

```ts
const csv = z.csv();
csv.parse("one")       // => ["one"]
csv.parse("one,two")   // => ["one", "two"]
```

This could then be piped to further validation as needed.

It would also be useful to allow a custom delimiter, for example:

```ts
const csv = z.csv({ delimiter: ";" })
const csv = z.csv({ delimiter: "|" })
```

Additionally, for anyone interested in digging deeper, it might be worth checking out [RFC6570 sections 3.2.1–3.2.2](https://datatracker.ietf.org/doc/html/rfc6570#section-3.2.2) for potential adaptation and further ideas.

I think having either `string` OR `string[]` is a very very common use-case when building apis:

When having an array of query parameters it is often generated like this:

- products?type=shirts
- products?type=shirts&type=shoes
- products?type=shirts&type=shoes&hats

The backend receives this query params as either a string (first example) or as an array of string (example 2 & 3). It would be very convenient to be able to always cast a value to an array.

Proposal (feature request):

```ts
z.object({
  type: z.coerce.array(z.string()),
  // or
  type: z.coerceArray.array(z.string()),
});
```

Instead of (current):

```ts
z.object({
  type: z
    .union([z.string(), z.array(z.string())])
    .optional()
    .transform((val) =>
      val === undefined
        ? undefined
        : Array.isArray(val)
        ? val.map((v) => Number(v))
        : [Number(val)]
    )
    .pipe(z.array(z.string()),
});
```

For future readers, a lot of the things mentioned here are supported if you give up on using `preprocess` and lean into `unions` and `transform`. 

The case of coercing a union of `string` and `string[]`

```ts
z.object({
  type: z.preprocess((val) => {
    if (val === undefined) {
      return undefined;
    }
    if (Array.isArray(val)) {
      return val;
    }
    return [val];
  }, z.array(z.string()),
});
```
can be rewritten more clearly as

```ts
z.object({
  type: z.union([z.string().transform((i) => [i]), z.array(z.string())]).optional(),
});
```
Similarly for the comma separated string version

```ts
z.object({
  type: z.union([z.string(), z.array(z.string()).transform((i) => i.join(', '))]).optional(),
});
```
You could also split on the string in the transform and return an array of strings

```ts
z.object({
  type: z.union([z.string().transform((i) => i.split(':')), z.array(z.string())]).optional(),
});
```


@devanfarrell  Thanks for clarification this makes things easier for sure! I hope still the maintainers of Zod see the benefit that the most clear way:

```ts
z.object({
  type: z.union([z.string().transform((i) => [i]), z.array(z.string())]).optional(),
});
```

is not very human readable compared to the feature request:

```ts
z.object({
  type: z.coerce.array(z.string()),
});
```

So I hope the feature request will eventually be resolved :) Until then https://github.com/colinhacks/zod/issues/2873#issuecomment-3411299967 is a great workaround!

I'm still recommending that anyone who needs this implement it in user land. I don't think this API needs to exist in Zod core.